* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    color: white;
    scroll-behavior: smooth;
    font-size: 14px;
}

.nav {
    display: flex;
    align-items: center;
    background-color: lightcoral;
    height: 50px;
    padding-right: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li {
    margin-left: 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
}

@media only screen and (max-width: 600px) {
   .nav {
        justify-content: center;
        align-items: center;
   }
   .nav-list li { 
        margin-left: 10px;
   }
}

.welcome-section {
    width: 100%;
    height: 100vh;
    background-color: rgb(80, 71, 71);
    font-size: 2rem;
    display: block;
    text-align: center;
}

.welcome-section h1, p{
    position: relative;
    top: 30%;
}

.welcome-section h1 {
    font-size: 4rem;
}

.welcome-section p {
    font-style: italic;
    color: rgb(215, 116, 116);
}

#projects {
    text-align: center;
    background-color: lightblue;
    padding-bottom: 30px;
    width: 100%;
}

.header {
    font-size: 2.2rem;
    border-bottom: 3px solid black;
    display: inline-block;
    padding: 0 30px;
    margin: 30px auto;
    margin-top: 80px;
    color: black;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: center;
}

.card {
    width: 400px;
    height: 350px;
    background-color: rgb(215, 116, 116);
    color: rgb(49, 39, 39);
}

.card img {
    height: calc(100% - 3.8rem);
    width: 100%;
    object-fit: cover;
}

.card-body {
    font-size: 1.5rem;
    margin-top: 5px;
}

#contact {
    width: 100%;
    background-color: rgb(80, 71, 71);
    height: 80vh;
}

.contact-header {
    padding-top: 70px;
    text-align: center;
    margin-bottom: 100px;
}

.contact-header h2 {
    font-weight: 900;
    font-size: 4rem;
}

.contact-header p {
    font-size: 1.5rem;
}

.contact-link {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 900px;
}

@media only screen and (max-width: 600px) {
    .contact-link {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px 10px;
        justify-items: center;
        
    }

    .contact-link h3 {
        text-align: center;
    }

    .contact-header {
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 393px) {
    .contact-link {
        grid-template-columns: 1fr 1fr;
    }
}

.contact-link a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    transition: 0.5s;
}

.contact-link a:hover {
    margin-top: 10px;
}

.contact-link a i {
    margin-right: 5px;
}

.footer {
    width: 100%;
    height: 20vh;
    border-top: 7px solid rgb(215, 116, 116);
    background-color: rgb(80, 71, 71);
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
    }
}